@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Simple Application Awesome Reviewer</h1>
    <p>I am Abdulraheem Abdullah .. the one who built this App</p>
    <p>This Application was created in <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
